<nav class="public-navbar-container">
  <div class="navbar-logo-area">
    <a routerLink="/">
      <img src="assets/img/logo.png" alt="IFL Logo" class="navbar-logo">
    </a>
  </div>
  <div class="navbar-menu-area">
    <a routerLink="/auth/login" class="btn-login">
      <svg class="login-icon" viewBox="0 0 24 24" fill="currentColor" width="18px" height="18px">
        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
      </svg>
      <span>Accedi</span>
    </a>
  </div>
</nav>
