/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.min.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* O il tuo font di default per l'app */
}

/* Reset globale opzionale per box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}


.clickable-image {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}
