:host {
  display: block;
  height: 100vh;
}

.dashboard-layout {
  display: flex;
  flex-direction: column; // Modificato da 'row' a 'column'
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f4f7f6;
}

.dashboard-main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dashboard-navbar {
  flex-shrink: 0; // La navbar non si restringe
}

.dashboard-page-content {
  flex-grow: 1;
  padding: 24px;
  overflow-y: auto; // Permette lo scroll solo nel contenuto principale
}
